<div class="ui card">
  <div class="content">
    <div class="right floated meta"><%= time_ago_in_words(image.created_at) %></div>
    <%= image.user.full_name || 'Unnamed User' %>
  </div>
  <div class="image">
      <% if image.picture.attached? %>
        <%= image_tag image.picture %>
      <% else %>
        <img src="<%= image.cdn_url %>">
      <% end %>
  </div>
  <div class="content">
    <div class="meta">
      <a href="<%= url_for image %>"> 
        <span class="date"><%= image.id %></span>
      </a>
    </div>
  </div>
  <div class="extra content">
    Labeling:
    <% if image.processed? %>
      <i class="check circle green icon"></i>
    <% else %>
      <i class="spinner loading icon"></i>
    <% end %>
  </div>
</div>