<div class="ui card">
  <a class="image me" href="<%= url_for image %>">
      <% if image.picture.attached? %>
        <%= image_tag image.picture %>
      <% else %>
        <img src="<%= image.cdn_url %>">
      <% end %>
  </a>
  <div class="content">
    <div class="meta">
      <span class="date"><%= image.id %></span>
      <h5 class="<%= image.private? ? 'text-red' : '' %>"><%= image.private? ? 'Private' : 'Public' %></h5>
    </div>
    <br/>
  </div>
  <div class="extra content">
    Labeling:
    <% if image.processed? %>
      <i class="check circle green icon"></i>
    <% else %>
      <i class="spinner loading icon"></i>
    <% end %>
    <i class="user icon"></i>
    <div class="right floated author">
      <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'me_image' %>