<div class="ui container single">
  <h3 class="text-center text-gray">Search Images by Labels (Comma Seperated)</h3>
  <%= form_tag(images_path, method: :get, id: 'search') do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="ui search">
      <div class="ui icon input">
        <input name="search" class="prompt" type="text" placeholder="Labels...">
      </div>
      <button class="search-btn ui small icon button" onclick="document.getElementById('search').submit();">
        <i class="icon search"></i>
      </button>
    </div>
    
  <% end %>
  <br/>
  <div class="ui divider"></div>
  <br/>
  <% if defined? @query %>
    <h4>Showing results for: <span class="text-gray"><%= @query %></span></h3>
  <% end %>
  <br/>
  <br/>
  <% if @images.empty? %>
    <h3 class="text-gray text-center">Nothing To Show.</h3>
  <% else %>
    <div class="ui one cards">
      <% @images.each do |image| %>
        <%= render 'image', image: image %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <br/>
  <%= paginate @images %>
</div>
<br/>
<br/>
