<div class="ui container single">
  <h2>New Image</h2>
  <%= form_with(model: @image, local: true, html: {id: 'upload', class: 'ui form'}) do |form| %>
    <% if @image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

        <ul>
          <% @image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :picture %>
      <%= form.file_field :picture, id: 'upload' %>
    </div>

    <div class="actions text-center">
      <%= form.submit value: 'Upload', class: 'ui primary button' %>
    </div>
  <% end %>
</div>