<div class="ui container center first">
  <% if current_user == @image.user %>
    <form name="privacy" action="<%= url_for @image %>" method="patch">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <% if @image.private? %>
            <input type="checkbox" tabindex="0" class="" id="checkbox" checked>
          <% else %>
            <input type="checkbox" tabindex="0" class="" id="checkbox">
          <% end %>
          <label id="status">Private <%= "(won't show up in Discover and cannot be directly accessed)" if @image.private? %></label>
        </div>
        <i class="spinner loading icon hidden" id="loader"></i>
      </div>
    </form>
  <% end %>
  <br/>
  <div class="ui placeholder fluid" id="placeholder">
    <h3 class="ui top attached header">
      ID: <span class="text-gray"><%= @image.id %></span>
    </h3>
    <div class="rectangular image">
      <img class="ui fluid rounded image" onload="this.parentNode.parentNode.classList.remove('placeholder')" src="<%= @image.cdn_url %>">
    </div>
  </div>
  <br />
  <br />
  <div class="ui purple segment">
    <h2 class="labels">Detected Labels (From Highest to Lowest Confidence):<% if @image.processed? %><i class="check circle green icon"></i><% end %>
      <% unless @image.processed? %>
        <div class="ui active inline medium loader"></div><span class="processing">Processing Image...</span>
      <% end %>
    </h2>
    <div class="labels">
      <% if @image.processed? %>
        <% @image.label_list.each do |label| %>
          <span class="ui large brown tag label"><%= label %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<%=javascript_pack_tag 'me_image' %>